@import url("./font.css");
/* RESET */
:root{
    --blue: #256EF9;
    --yellow: #e1c005;
    --green: #16f890;
    --pink: #F934CE;
    --orange: #FC8022;
    --delay: .8s;
    --linkdelay: .3s;
    --interval: 6.3s;
}
html{
    scroll-behavior: smooth;
}

*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: unset;
    width: fit-content;
}
button{
    border: none;
    background: none;
}

body{
    font-family: "Metropolis",sans-serif;
    background: #111;
    color: white;
    background: url('./assets/svg/noise.svg') var(--pink);
    background-size: 200px;
    animation: body 32s linear infinite;
}


/* FIXED NAV AND SOCIAL */
.socials{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px 10px;
    background: #00000010;
    backdrop-filter: blur(10px);
    position: fixed;
    left: 15px;
    top: 15px;
    border-radius: 30px;
    z-index: 100;
}
.socials svg{
    width: 20px;
}

.nav{
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 10px 20px;
    z-index: 100;
    background: #00000010;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
}

.socials svg{
    fill: white;
}

.menu-line{
    width: 24px;
    height: 4px;
    background: white;
    border-radius: 30px;
}

#menu-toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#search{
    background: white;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    width: 50px;
    /* height: 30px; */
    padding: 6px 0 2px;
}

#search svg{
    width: 18px;
}


/* MAIN */

.full-screen-container{
    width: 100%;
    height: 100vh;
    background: blue;
}

.pan{
    width: 100%;
    height: 100%;
    background: green;
    overflow: hidden;
    position: relative;
}

.growing{
    width: 100%;
    height: 100%;
    background: url('./assets/svg/noise.svg') var(--pink);
    background-size: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    animation: bgExpand 32s linear infinite;
}

@keyframes bgExpand{
    20%{ background-color: var(--pink); }
    40%{ background-color: var(--blue); }
    50%{ scale: 1.5; }
    60%{ background-color: var(--green); }
    80%{ background-color: var(--orange); }
    100%{ scale: 1; }
}
@keyframes body{
    20%{ background-color: var(--pink); }
    40%{ background-color: var(--blue); }
    60%{ background-color: var(--green); }
    80%{ background-color: var(--orange); }
}

.hero-content{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video-container{
    height: 100%;
    position: absolute;
    z-index: 5;
    overflow: hidden;
}


h2{
    text-transform: uppercase;
    font-size: 15vw;
    font-weight: 900;
    text-align: center;
    width: 100%;
    letter-spacing: -4%;
    margin-bottom: 12px;
}
.interview-title{
    color: var(--yellow);
}
.oneShots-title{
    color: var(--green);
}
.podcast-title{
    color: var(--orange);
}
.onStage-title{
    color: var(--pink);
}

.link-to{
    display: inline-block;
    width: 350px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 4%;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    height: 54px;
    text-transform: uppercase;
    /* filter: drop-shadow(0 0 4px black); */
}

.hiddenlink{
    position: absolute;
    bottom: 50%;
    left: 50%;
    translate: -50% 150%;
    display: block;
    width: 100%;
    border-radius: 30px;
    opacity: 0;
    transition: translate .5s linear;
    backdrop-filter: blur(5px);
    line-height: 50px;
}


video{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.relative{
    position: relative;
    overflow: hidden;
}
.interview-title,
.onStage-title,
.podcast-title,
.main-title,
.oneShots-title{
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: translate 1s cubic-bezier(0.075, 0.82, 0.165, 1),
                opacity 1s linear;
    
}
.middle{
    top: 0%;
    left: 50%;
    translate: -50% 100%;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 80%;
}
.top{
    top: 50%;
    left: 50%;
    translate: -50% -150%;
}
.bottom{
    bottom: 50%;
    left: 50%;
    translate: -50% 150%;
}

/* .bottom.reveal,
.top.reveal{
    translate: -50% -50%;
    opacity: 1 ;
    transition: translate .6s cubic-bezier(0.075, 0.82, 0.165, 1),
                opacity .6s linear;
} */

.main{
    padding: 20px;
}

.placeholder{
    opacity: 0;
}




/* ANIM */

.on-shots-container{
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    transition: width 1.2s cubic-bezier(0.91, 0.03, 0.17, 1);
}
.podcast-container.expand{
    width: 50%;
    opacity: 1;
    transition: scale 1.2s cubic-bezier(0.075, 0.82, 0.165, 1),
                opacity .8s linear;
}


.interview-container{
    width: 100%;
    height: 100%;
    scale: 0;
    transition: scale 1.2s cubic-bezier(0.075, 0.82, 0.165, 1),
                opacity .8s linear;
}


.anim.interview-container{
    animation: interviewBlockAnim 6s var(--delay) cubic-bezier(0.075, 0.82, 0.165, 1) ;
}
.anim.interview-title{
    animation: interviewTextAnim 6s cubic-bezier(0.075, 0.82, 0.165, 1) ;
}

.anim.hiddenlink.interview-link{
    animation: linkAnim 6s var(--linkdelay) cubic-bezier(0.075, 0.82, 0.165, 1) ;
    border: 2px solid var(--yellow);
}

@keyframes interviewBlockAnim{
    25%{  scale: 1; }
    0%,80%{ height: 100%; }
    100%{ scale: 1; height: 0; }
}

@keyframes interviewTextAnim{
    15%,89%{ opacity: 1; translate: -50% -50%; }
    0%,90%,100%{ translate: -50% -110%; }
}
@keyframes linkAnim{
    20%,95%{ opacity: 1; translate: -50% 50%; }
    100%{ translate: -50% 150%; }
}


.oneShots-container{
    width: 0%;
    height: 100%;
}

.anim.oneShots-container{
    animation: oneShotBlockAnim 6s var(--delay) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.anim.oneShots-title{
    animation: oneShotTextAnim 6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.anim.hiddenlink.oneShots-link{
    animation: linkAnim 6s var(--linkdelay) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    border: 2px solid var(--green);
}


@keyframes oneShotBlockAnim{
    25%,80%{ width: 50%; }
    100%{ width: 0%; }
}

@keyframes oneShotTextAnim{
    15%,89%{  opacity: 1; translate: -50% 50%; }
    90%{  translate: -50% 150%; }
}


.podcast-container{
    right: 0;
    width: 0%;
    height: 100%;
}

.anim.podcast-container{
    animation: podcastBlockAnim 6s var(--delay) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.anim.podcast-title{
    animation: podcastTextAnim 6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.anim.hiddenlink.podcast-link{
    animation: linkAnim 6s var(--linkdelay) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    border: 2px solid var(--orange);
}


@keyframes podcastBlockAnim{
    25%,80%{ width: 50%; }
    100%{ width: 0%; }
}

@keyframes podcastTextAnim{
    15%,89%{ opacity: 1; translate: -50% -50%; }
    90%{ translate: -50% -150%; }
}



.onStage-container{
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 0;
}

.anim.onStage-container{
    animation: onStageBlockAnim 6s var(--delay)  cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.anim.onStage-title{
    animation: onStageTextAnim 6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.anim.hiddenlink.onStage-link{
    animation: linkAnim 6s var(--linkdelay) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    border: 2px solid var(--pink);
}


@keyframes onStageBlockAnim{
    25%,80%{ height: 100%;}
    95%{width: 100%;}
    100%{ height: 0%; width: 0;}
}

@keyframes onStageTextAnim{
    15%,89%{  opacity: 1; translate: -50% 50%; }
    90%{  translate: -50% 150%; }
}


.anim.main-title{
    animation: mainTextAnim 3s var(--linkdelay) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes mainTextAnim{
    20%,90%{  opacity: 1; }
    100%{  opacity:0; }
}