@import url("./font.css");

/* RESET */
:root {
    --blue: #256EF9;
    --yellow: #e1c005;
    --green: #16f890;
    --pink: #F934CE;
    --orange: #FC8022;
    --black: #01321B;
    --shadow: #01321B;
    --delay: .8s;
    --linkdelay: .3s;
    --interval: 6.3s;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--pink);
}

a {
    text-decoration: none;
    color: unset;
    width: fit-content;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

body {
    font-family: "Metropolis", sans-serif;
    background: #111;
    color: white;
    background: url('../assets/svg/noise.svg') var(--pink);
    background-size: 200px;
    animation: body 32s ease-in-out infinite;
    width: 100%;
    height: 100vh;
    position: relative;
}

.body-growning-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.nav-backdrop {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    background: #111111EE;
    z-index: 90;
    display: flex;
    align-items: center;
    overflow: hidden;
}

nav {
    display: none;
    flex-direction: column;
}

.nav-link a,
.info-link a {
    color: white;
    font-size: 40px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 4%;
}

.nav-link a {
    text-transform: uppercase;
}

.nav-link.info-link a {
    color: var(--yellow);
    text-transform: unset;
}

.get-to-know-us {
    padding-top: 50px;
}

/* nav{
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    translate: 100% 0;
    background: white;
    z-index: 50;
} */

nav.slideIn {
    display: flex;
}

body.locked {
    overflow: hidden;
}

.nav-backdrop.display {
    width: 100%;
    padding: 0 100px;
}


/* FIXED NAV AND SOCIAL */
.socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px 10px;
    background: #00000010;
    backdrop-filter: blur(10px);
    position: fixed;
    left: 15px;
    top: 15px;
    border-radius: 30px;
    z-index: 80;
}

.socials svg {
    width: 20px;
    fill: white;
}

.nav-buttons {
    position: fixed;
    top: 15px;
    right: 30px;
    padding: 5px 10px 5px 20px;
    z-index: 100;
    background: #00000010;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
}

.menu-line {
    width: 24px;
    height: 4px;
    background: white;
    border-radius: 30px;
    transition: translate .25s cubic-bezier(0.19, 1, 0.22, 1),
        rotate .5s cubic-bezier(0.19, 1, 0.22, 1),
        scale .5s cubic-bezier(0.19, 1, 0.22, 1),
        opacity .5s cubic-bezier(0.19, 1, 0.22, 1);
}

#menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 10px;
}

.toggle .top-line,
.toggle .bot-line {
    transition-delay: .25s;
}

.toggle .top-line {
    rotate: 45deg;
    translate: 0 8px;
    scale: 1.2 1;
    transform-origin: center;
}

.toggle .bot-line {
    rotate: -45deg;
    translate: 0 -8px;
    scale: 1.2 1;
    transform-origin: center;
}

/* .display .bot-line{
    rotate: -45deg;
    translate: 0 -6px;
} */
.toggle .mid-line {
    translate: 300%;
    opacity: 0;
}

#search {
    background: white;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    width: 50px;
    /* height: 30px; */
    padding: 6px 0 2px;
}

#search svg {
    width: 18px;
}


/* MAIN */
main {
    position: relative;
    z-index: 2;
}

h4 {
    font-weight: 400;
    font-size: clamp(2em, 3.8vw, 2.8em);
    letter-spacing: 4%;
    padding: 10px 12px;
    margin-bottom: 30px;
}

.full-screen-container {
    width: 100%;
    height: 100vh;
}

.pan {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.growing {
    width: 100%;
    height: 100%;
    background: url('../assets/svg/noise.svg') var(--pink);
    background-size: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    animation: body 32s ease-in-out infinite,
        expand 8s linear infinite;
}

@keyframes expand {
    to {
        scale: 1.5;
    }
}

@keyframes body {
    20% {
        background-color: var(--pink);
    }

    40% {
        background-color: var(--blue);
    }

    60% {
        background-color: var(--green);
    }

    80% {
        background-color: var(--orange);
    }
}

.hero-content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-container {
    height: 100%;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    pointer-events: none;
}


h2 {
    text-transform: uppercase;
    font-size: 15vw;
    font-weight: 900;
    text-align: center;
    width: 100%;
    letter-spacing: -4%;
    filter: drop-shadow(0 4px 8px hsl(from black h s l / 30%));
}

.interview-title,
#interviews h3 {
    color: var(--yellow);
}

.oneShots-title,
#oneshots h3 {
    color: var(--green);
}

.podcast-title,
#podcast h3 {
    color: var(--orange);
}

.indeh-title,
#indeh h3,
.onstage-title,
#onstage h3 {
    color: var(--pink);
}

.hero-titles {
    margin-bottom: 12px;
}

.title-container {
    display: flex;
    overflow: hidden;
    /* width: fit-content; */
    position: relative;
}

.feed-section h2,
.feed-section h3 {
    text-transform: uppercase;
    letter-spacing: -5%;
}


.feed-section h2 {
    font-size: 15vw;
    bottom: 0;
    left: 0;
    position: absolute;
    width: fit-content;
    z-index: 10;
    filter: drop-shadow(0 4px 8px hsl(from black h s l/ 30%));
}

.feed-section h3 {
    display: flex;
    font-size: 30vw;
    white-space: nowrap;
    animation: translate100 120s linear infinite;
    width: fit-content;
    opacity: .3;
    font-weight: 700;
    position: relative;
    top: 5vw;
}

.feed-section h3::after {
    content: attr(data-title);
    display: block;
}

.feed-section h3::after,
.feed-section span {
    margin-left: 100vw;
}

@keyframes translate100 {
    to {
        translate: -100% 0;
    }
}

.pageLink {
    margin: 60px auto;
    display: block;
    width: 340px;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: 4%;
    text-transform: uppercase;
    border: 3px solid;
    font-size: 18px;
    border: none;
    color: var(--black);
    box-shadow: 0 4px 8px hsl(from black h s l /20%);
}

#interviews .pageLink {
    background: var(--yellow);
}


#oneshots .pageLink {
    background: var(--green);
}


#podcast .pageLink {
    background: var(--orange);
}


#indeh .pageLink {
    background: var(--pink);
}

.link-to {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    letter-spacing: 4%;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    height: 54px;
    text-transform: uppercase;
    filter: drop-shadow(0 0 20px #00000050);
}

.hiddenlink {
    position: absolute;
    bottom: 50%;
    left: 50%;
    translate: -50% 150%;
    display: block;
    width: 100%;
    border-radius: 30px;
    opacity: 0;
    transition: translate .5s linear;
    /* backdrop-filter: blur(5px); */
    line-height: 50px;
}


video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.relative {
    position: relative;
    overflow: hidden;
}

.interview-title,
.onstage-title,
.podcast-title,
.oneShots-title {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: translate 1s cubic-bezier(0.075, 0.82, 0.165, 1),
        opacity 1s linear;

}

.main-title {
    text-align: center;
    font-size: 2bw;
    font-weight: 400;
    letter-spacing: 80%;
    text-transform: uppercase;
    opacity: 0;
}

.top {
    top: 50%;
    left: 50%;
    translate: -50% -150%;
}

.bottom {
    bottom: 50%;
    left: 50%;
    translate: -50% 150%;
}

.main {
    padding: 20px;
}

.placeholder {
    opacity: 0;
}




/* ANIM */

.on-shots-container {
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    transition: width 1.2s cubic-bezier(0.91, 0.03, 0.17, 1);
}

.podcast-container.expand {
    width: 50%;
    opacity: 1;
    transition: scale 1.2s cubic-bezier(0.075, 0.82, 0.165, 1),
        opacity .8s linear;
}


.interview-container {
    width: 100%;
    height: 100%;
    scale: 0;
    transition: scale 1.2s cubic-bezier(0.075, 0.82, 0.165, 1),
        opacity .8s linear;
}


.anim.interview-container {
    animation: interviewBlockAnim 6s var(--delay) cubic-bezier(0.075, 0.82, 0.165, 1);
}

.anim.interview-title {
    animation: interviewTextAnim 6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.anim.hiddenlink.interview-link {
    animation: linkAnim 6s var(--linkdelay) cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes interviewBlockAnim {
    25% {
        scale: 1;
    }

    0%,
    80% {
        height: 100%;
    }

    100% {
        scale: 1;
        height: 0;
    }
}

@keyframes interviewTextAnim {

    15%,
    89% {
        opacity: 1;
        translate: -50% -50%;
    }

    0%,
    90%,
    100% {
        translate: -50% -110%;
    }
}

@keyframes linkAnim {

    20%,
    95% {
        opacity: 1;
        translate: -50% 50%;
    }

    100% {
        translate: -50% 150%;
    }
}


.oneShots-container {
    width: 0%;
    height: 100%;
}

.anim.oneShots-container {
    animation: oneShotBlockAnim 6s var(--delay) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.anim.oneShots-title {
    animation: oneShotTextAnim 6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.anim.hiddenlink.oneShots-link {
    animation: linkAnim 6s var(--linkdelay) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}


@keyframes oneShotBlockAnim {

    25%,
    80% {
        width: 50vw;
    }

    100% {
        width: 0%;
    }
}

@keyframes oneShotTextAnim {

    15%,
    89% {
        opacity: 1;
        translate: -50% 50%;
    }

    90% {
        translate: -50% 150%;
    }
}


.podcast-container {
    right: 0;
    width: 0%;
    height: 100%;
}

.anim.podcast-container {
    animation: podcastBlockAnim 6s var(--delay) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.anim.podcast-title {
    animation: podcastTextAnim 6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.anim.hiddenlink.podcast-link {
    animation: linkAnim 6s var(--linkdelay) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}


@keyframes podcastBlockAnim {

    25%,
    80% {
        width: 50vw;
    }

    100% {
        width: 0%;
    }
}

@keyframes podcastTextAnim {

    15%,
    89% {
        opacity: 1;
        translate: -50% -50%;
    }

    90% {
        translate: -50% -150%;
    }
}



.onstage-container {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 0;
}

.anim.onstage-container {
    animation: onstageBlockAnim 6s var(--delay) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.anim.onstage-title {
    animation: onstageTextAnim 6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.anim.hiddenlink.onstage-link {
    animation: linkAnim 6s var(--linkdelay) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}


@keyframes onstageBlockAnim {

    25%,
    80% {
        height: 100%;
    }

    95% {
        width: 100%;
    }

    100% {
        height: 0%;
        width: 0;
    }
}

@keyframes onstageTextAnim {

    15%,
    89% {
        opacity: 1;
        translate: -50% 50%;
    }

    90% {
        translate: -50% 150%;
    }
}


.anim.main-title {
    animation: mainTextAnim 3s var(--delay) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

#logo {
    z-index: 50;
    scale: 1;
    transition: translate 1.2s .15s cubic-bezier(1, 0, 0.58, 1), scale 1.1s cubic-bezier(0.84, 0.1, 0.58, 1);
}

.anim#logo {
    scale: 3;
    translate: 0 120%;
    transition: translate 1.6s cubic-bezier(0.74, 0.04, 0.18, 1.01), scale 1s .5s cubic-bezier(0.74, 0.04, 0.18, 1.01);
}

@keyframes mainTextAnim {

    20%,
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes logoAnim {

    20%,
    50% {
        scale: 3;
        translate: 0 30%;
    }

    100% {
        scale: 1;
        translate: 0 0;
    }
}

.landscape-grid {
    display: grid;
    width: 98%;
    margin: 0 auto;
    gap: 12px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);

}

iframe {
    width: 100%;
    height: 100%;
}

.feed-element {
    width: 100%;
    position: relative;
    aspect-ratio: 16 / 9;
    min-height: 10vh;
}

.feed-element .cover {
    z-index: 10;
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.podcast-grid {
    width: 100%;
    max-width: 1200px;
    padding: 24px;
    /* background: #121212; */
    margin: 30px auto 0;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.podcast-element {
    display: flex;
    flex-direction: column;
    width: min(600px, 98%);
    position: relative;
    background: linear-gradient(to bottom, #00000050, #00000030);
    border-radius: 10px;
    box-shadow: 0 0 0 #16f89000;
}

.podcast-element:hover {
    box-shadow: 0 0 12px #16f890;
}

.podcast-element-link {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    padding: 16px;
}

.podcast-element-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid;
    border-radius: 8px;
}

.podcast-element-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.podcast-element-title {
    font-size: 24px;
    width: 100%;
    margin-bottom: 8px;
    padding: 0;
    color: #1ED760;
    font-weight: 700;
    letter-spacing: 0;
}

.podcast-element-nb-titles {
    margin-bottom: 12px;
    opacity: .5;
}

.podcast-element-description {
    font-size: 18px;
}

.podcast-element-description,
.podcast-element-title {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.loading .feed-element,
.loading .podcast-element {
    animation: loading 3s linear infinite;
}

.loading .feed-element:nth-of-type(2),
.loading .podcast-element:nth-of-type(2) {
    animation-delay: .2s;
}

.loading .feed-element:nth-of-type(3),
.loading .podcast-element:nth-of-type(3) {
    animation-delay: .4s;
}

.loading .feed-element:nth-of-type(4),
.loading .podcast-element:nth-of-type(4) {
    animation-delay: .6s;
}

.loading .feed-element:nth-of-type(5),
.loading .podcast-element:nth-of-type(5) {
    animation-delay: .8s;
}

.loading .feed-element:nth-of-type(6),
.loading .podcast-element:nth-of-type(6) {
    animation-delay: 1s;
}

.loading .feed-element:nth-of-type(7) {
    animation-delay: 1.2s;
}

.loading .feed-element:nth-of-type(8) {
    animation-delay: 1.4s;
}

.loading .feed-element:nth-of-type(9) {
    animation-delay: 1.6s;
}

section {
    padding-top: 60px;
}

footer {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
    scrollbar-width: none;
    z-index: 2;
}

.footer-link {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5;
    font-size: 40px;
}

.tribute {
    color: white;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 4%;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 12px;
    left: 50%;
    translate: -50% 0;
}

.footer-decoration {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 90%;
    opacity: .08;
    z-index: -1;
}

/* ABOUT */

.about-section {
    padding: 60px 80px;
}

.about-section h2 {
    font-size: clamp(30px, 4vw, 50px);
    padding-bottom: unset;
    text-align: left;
    margin-bottom: 24px;
}

.about p {
    font-size: clamp(20px, 1.4em, 24px);
    line-height: 1.5;
}

#about-anchor {
    height: 10px;
}

.link-position {
    display: inline-block;
    width: 40px;
    text-align: center;
    overflow: hidden;
}


#page-links {
    width: fit-content;
    /* transition: padding 1s cubic-bezier(0.19, 1, 0.22, 1), width 1s cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden; */
}

aside {
    position: fixed;
    right: 30px;
    top: 50%;
    translate: 100px -50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
    gap: 4px;
    border-radius: 30px;
    width: fit-content;
    /* padding: 0 8px; */
    background: #00000010;
    backdrop-filter: blur(10px);
    padding: 20px 8px;
    transition: padding .8s cubic-bezier(0.165, 0.84, 0.44, 1),
        translate .5s ease-in-out;
}

aside.show {
    translate: 0 -50%;
}

aside .h2-ctn {
    font-weight: 900;
}

aside .h2-ctn .link-position::before {
    border: none;
}

aside:hover {
    width: 350px;
    padding: 20px;
    right: 0;
    justify-content: center;
    overflow: hidden;
    font-size: 18px;
    background: #00000000;
    backdrop-filter: unset;
}

aside .quick-link-ctn:hover {
    color: var(--yellow);
    scale: 1.03;
    transition: scale ease-out .3s;
}

aside:hover .quick-link-ctn {
    width: 310px;
    /* background: #111111EE; */
}

aside:hover .quick-link-ctn::before,
aside:hover .quick-link-ctn::after {
    opacity: 1;
    /* background: #111111EE; */
}

aside:hover .link-position {
    width: 0;
}


aside:hover .quick-link-ctn .link-label {
    padding: 0 20px;
}


#page-links-ctn {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 0;
}

.about-quick-link {
    line-height: 40px;
    font-size: 20px;
    padding: 0;
    width: 320px;
    display: flex;
    align-items: center;
}


aside .link-position.highlight::before {
    /* border-color: var(--yellow); */
    background: white;
    scale: 1.2;
}

aside .quick-link-ctn {
    width: 20px;
    height: 30px;
    overflow: hidden;
    transition: width cubic-bezier(0.075, 0.82, 0.165, 1) .8s,
        background-color cubic-bezier(0.075, 0.82, 0.165, 1) .8s;
    border-radius: 30px;
    background: #11111100;
    position: relative;
}

aside .quick-link-ctn::before,
aside .quick-link-ctn::after {
    position: absolute;
    content: '';
    display: block;
    inset: 0;
    opacity: 0;
}

.contact-link {
    font-weight: 900;
    color: var(--yellow);
}

.about-section h3 {
    font-size: clamp(40px, 3vw, 40px);
    text-transform: uppercase;
    font-weight: 900;
    color: var(--yellow);
}

aside .quick-link-ctn::before {
    background: var(--pink);
    animation: body 32s ease-in-out infinite;
    z-index: -2;
}

aside .quick-link-ctn::after {
    z-index: -1;
    background: #000000A0;
}

aside .quick-link-ctn:has(p) {
    height: auto;
}

aside p {
    /* display: none; */
    font-size: 20px;
    font-weight: 900;
    /* margin-bottom: 20px; */
    /* text-transform: uppercase; */
}

aside:hover p {
    display: unset;
}

.about img {
    border-radius: 8px;
    transition: scale .8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about img:hover {
    scale: 1.1;
}

.image-full {
    width: 100%;
    margin: 30px 0;
}

#whatisloxymore {
    position: relative;
}


#whatisloxymore-image {
    float: right;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 30%;
    translate: 80px 0;
    transform-origin: center right;
    transition: scale cubic-bezier(0.075, 0.82, 0.165, 1) .8s;
}

.float-image:hover {
    scale: 2;
}


aside .link-position {
    position: relative;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

aside .link-position::before {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    content: '';
    border-radius: 50%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 5;
    transform-origin: center;
}

.indeh-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 20px 0;
}

.indeh-grid-item {
    width: 100%;
}

.oneshot-grid-item {
    width: 100%;
}

.oneshot-grid-item:nth-of-type(1) {
    position: relative;
    z-index: 5;
}

.oneshot-grid-item:nth-of-type(2) {
    position: relative;
    translate: 0 20%;
}

.partners-image {
    width: 120px;
    height: auto;
    object-fit: contain;
}

.parters-grid {
    /* max-width: 700px; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
    background: white;
    border-radius: 20px;
    display: flex;
    padding: 50px;
}

.about .entertainer-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid;
}

.entertainer {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 40px 0;
}

.oneshot-grid-item:nth-of-type(3) {
    grid-column: 2;
    z-index: 2;
    translate: -20% 0;
}

.oneshot-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    align-items: baseline;
    margin: 30px 0;
}

.livestories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    margin: 30px 0;
}

.livestories-grid-item {
    width: 100%;
    position: relative;
}

.livestories-grid-item:nth-of-type(1) {
    rotate: -5deg;
}

.livestories-grid-item:nth-of-type(2) {
    rotate: 5deg;
    z-index: 2;
}

.livestories-grid-item:nth-of-type(3) {
    rotate: -2deg;
}

.festivaltour-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    align-items: center;
    gap: 0;
    width: 100%;
    margin: 30px 0;
}

.festivaltour-grid-item {
    width: 100%;
    position: relative;
}

.festivaltour-grid-item:nth-of-type(2),
.festivaltour-grid-item:nth-of-type(6) {
    scale: 1.05;
    z-index: 5;
    grid-column: span 2;
}

.festivaltour-grid-item:nth-of-type(5) {
    scale: 1.05;
    z-index: 4;
}

.onstage-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 30px 0;
}

.onstage-grid-item {
    width: 100%;
}

.onstage-grid-item:nth-of-type(2) {
    scale: 1.05;
}

.img-corsair-loxymore {
    width: 40%;
    display: block;
    margin: 30px auto;
}

aside .about-quick-link {
    width: 320px;
    line-height: 30px;
    font-weight: 500;
}

.quick-link-ctn {
    font-weight: 600;
    position: relative;
    transition: translate .25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.quick-link-ctn:hover {
    color: var(--yellow);
    translate: 10px 0;
}

#page-links h2 {
    font-size: 30px;
    padding: 0;
    display: flex;
    width: 320px;
}

.feed-element:hover .cover {
    scale: 0;
    opacity: 0;
    transition: scale 0s .15s cubic-bezier(0, 0, 0.2, 0.99), opacity .1s cubic-bezier(0, 0, 0.2, 0.99);
}

@keyframes loading {
    15% {
        background: #ffffff30;
    }

    30%,
    100% {
        background: #ffffff00;
    }
}


@media screen and (max-width: 1024px) {
    .cover {
        display: none;
    }

    .scrollable-ctn {
        width: 100%;
        overflow: hidden;
    }

    .scrollable-element {
        width: 100%;
        padding: 10px 20px;
        overflow: auto;
        scrollbar-width: none;
    }

    .scrollable-element>* {
        display: flex;
        width: fit-content;
    }

    .feed-element {
        flex-shrink: 0;
        width: 90%;
    }

    section {
        padding-top: unset;
    }

    .feed-element {
        min-height: unset;
    }

    .podcast-grid {
        max-width: unset;
        padding: 0;
    }

    .podcast-element-link {
        width: 300px;
        flex-direction: column;
    }

    .podcast-element-img {
        width: 100%;
        aspect-ratio: 1;
    }

    .podcast-element-description {
        line-clamp: 4;
        -webkit-line-clamp: 4;
    }
}

@media screen and (max-width: 1000px) {
    .entertainer {
        flex-direction: column;
        align-items: unset;
        margin: 0 0 80px;
    }


}

@media screen and (max-width: 800px) {
    .landscape-grid {
        grid-template-rows: repeat(6, auto);
        grid-template-columns: 1fr;
    }

    .feed-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    .main-title {
        font-size: 2.3vw;
    }

    .link-to {
        font-size: 20px;
    }

    .anim#logo {
        scale: 2.4;
    }

    .socials {
        top: unset;
        left: 50%;
        bottom: 40px;
        flex-direction: unset;
        translate: -50% 0;
        align-items: center;
        padding: 12px 20px;
    }

    footer {
        padding: 80px 30px;
    }


    @keyframes oneShotBlockAnim {

        25%,
        80% {
            width: 100vw;
        }

        100% {
            width: 0%;
        }
    }

    @keyframes podcastBlockAnim {

        25%,
        80% {
            width: 100vw;
        }

        100% {
            width: 0%;
        }
    }

    .socials svg {
        width: 40px;
    }

    .nav-buttons,
    aside {
        right: 20px;
    }

    .nav-buttons,
    .socials {
        border: 2px solid;
    }

    .tribute {
        padding: 50px 0 80px;
        position: unset;
        translate: unset;
    }

    .nav-backdrop.display {
        padding: 60px;
    }

    .about-section {
        padding: 40px;
    }
}

@media screen and (max-width: 700px) {
    .feed-section .feed-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #podcast .scrollable-element {
        padding: 10px 20px;
    }

    .interview-container,
    .onstage-container {
        top: 0;
        left: 50%;
        translate: -50% 0;
        transform-origin: top;
        scale: 1;
        height: 0;
    }

    .interview-container video,
    .onstage-container video {
        height: 50vh;
    }

    @keyframes interviewBlockAnim {

        25%,
        80% {
            height: 50%;
        }

        100% {
            height: 0;
        }
    }

    @keyframes onstageBlockAnim {

        25%,
        80% {
            height: 50%;
        }

        100% {
            height: 0;
        }
    }

    .nav-buttons,
    aside {
        right: 10px;
    }

    .nav-backdrop.display {
        padding: 40px;
    }

    .podcast-grid {
        flex-direction: unset;
        margin: 0;
        padding: 0;
        max-width: unset;
    }
}

@media screen and (max-width: 600px) {

    .link-to {
        font-size: 18px;
    }

    .anim#logo {
        scale: 2;
    }

    .pageLink {
        font-size: 16px;
    }

    footer {
        padding: 100px 12px;
    }

    .feed-section h2 {
        padding-left: 10px;
    }

    aside {
        display: none;
    }

    .about-section {
        padding: 40px 20px;
    }

    .feed-section h3 {
        font-weight: 900;
    }

    .scrollable-element,
    #podcast .scrollable-element {
        padding: 10px;
    }

    .podcast-element-description {
        font-size: 16px;
    }

    .podcast-element-title {
        font-size: 22px;
    }
}

@media screen and (max-width: 450px) {

    .anim#logo {
        scale: 1.5;
    }

    .nav-link a,
    .info-link a {
        font-size: 30px;
    }

    .about-section>* {
        padding: 10px;
    }

    .pageLink {
        font-size: 14px;
        width: 90%;
    }
}